GEMINI_API_KEY=AIzaSyD91Brm8re2a-7NBPsfLyBPRSHKZ3-CdwY
WHATSAPP_API_KEY=EAAdUSY4lRKgBQJNYZBURZBgl7cNaIxmWvZAhEkWUd7ZCCGDUYw0MYZA7ZAyAM6MipLbU2Rw39StTyAh1ZAfJWdHtSAZCF2jkxVawxfCJDy8p5gEqWx4vToD5ZABOVAAkMBcfUZC6q0oD8ewWaVOZAkBKnL9ak1i7zL9WkFcXf8vPMCUUwdzq7p5chKGDwF81rKIam1NwNEuQiInBSCKB0KEt1Ei2kUfaVmtRtMMKYriODEWQAi6ZBNdaXAarA3z903uT4NML7ZBnmiInDZC4r953peRgNF7uiz